@use 'variables' as *;

:host {
  display: block;
  margin: 2rem 0 1rem 0;
  font-weight: 500;
  font-size: 1.125rem;
  background-color: $color-secondary;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid $color-border;
  text-align: center;
}
