<header class="banner flex align-center" role="banner">
  <div class="container flex align-center">
    <h1 class="logo">Shop</h1>

    <nav class="navbar flex flex-fill" role="navigation">
      <ul class="navbar-menu flex align-center flex-fill">
        <li><a class="nav-link" routerLink="/products" routerLinkActive="active">Accueil</a></li>
        <li class="ml-auto">
          <a class="btn btn-secondary" routerLink="/cart" routerLinkActive="btn-primary">
            <i class="bi bi-bag"></i>
            Panier
            @if (cartStore.cartItemsCount() > 0) {
              <span class="btn-badge btn-badge-primary">{{ cartStore.cartItemsCount() }}</span>
            }
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>