<app-subheader title="Produits"></app-subheader>

<main class="container" role="main" tabindex="-1">
  @if (loading()) {
    <app-spinner />
  } @else {
    <app-products-filter
      [categories]="categories()"
      [selectedCategory]="selectedCategory()"
      (categoryChange)="setCategory($event)"
    />

    <div class="products-list">
      @for (product of filteredProducts(); track product.id) {
        <app-product-card [product]="product"></app-product-card>
      }
    </div>
  }
</main>