@use 'variables' as *;

.products-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 12rem;
}

.products-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

// Tablet
@media (max-width: #{$breakpoint-md}) {
  .products-list {
      grid-template-columns: repeat(2, 1fr);
  }
}

// Mobile
@media (max-width: #{$breakpoint-sm}) {
  .products-list {
      grid-template-columns: repeat(1, 1fr);
  }
}