@use 'variables' as *;

.product-item {
    overflow: hidden;
    border: 1px solid $color-border;
    border-radius: 0.5rem;
    transition: box-shadow 150ms ease-in-out;
    box-shadow: 0px 2px 4px 0px rgba(16, 24, 40, 0.1);
    height: 100%;

    &:hover {
        box-shadow: 0px 4px 8px 0px rgba(19, 21, 23, 0.3);
    }

    &.out-of-stock {
        opacity: 0.6;
    }

    .product-details {
        padding: 1rem;
        gap: 1.5rem;

        .product-category-icon {
            padding: 0.5rem;
            border-radius: 0.5rem;
            background-color: $color-secondary;
            font-size: 1.5rem;
        }
    }

    .product-name {
        font-size: 1.25rem;
        font-weight: 600;
        margin-bottom: auto;
    }

    .product-name-placeholder {
        color: $color-muted;
        font-style: italic;
        font-weight: 500;
    }

    .product-info {
        margin-top: 0.5rem;
        margin-bottom: 1rem;

        .product-category {
            color: $color-muted;
            font-size: 0.875rem;
            font-weight: 500;
        }
    
        .product-price {
            color: $color-primary;
            font-size: 1.25rem;
            font-weight: 600;
        }
    }

    .add-to-cart {
        padding: 1rem;
        gap: 0.5rem;
        flex-wrap: wrap;
        background-color: $color-secondary;

        label {
            font-weight: 500;
        }

        select {
            padding: 0.25rem 0.5rem;
            border-radius: 0.25rem;
            border: 1px solid $color-border;
        }

        .btn {
            white-space: nowrap;
            margin-left: auto;
        }
    }

    .product-stock-message {
        color: $color-muted;
        font-size: 0.875rem;
        margin-top: 0.5rem;
        padding: 1rem;
    }
}