@use 'variables' as *;

.products-filter {
    margin: 2rem 0 1rem 0;
    gap: 1rem;

    select {
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        border: 1px solid $color-border;
        font-size: 1rem;
        min-width: 10rem;
    }
}
