@use 'variables' as *;

:host {
    display: block;
    background-color: $color-tertiary;
    background-image: url('/images/background-green.jpg');
    background-size: cover;
    background-position: center;
    padding: 2.5rem 0;

    h1 {
        font-size: 2rem;
        font-weight: 700;
        text-align: center;
        color: $color-white;
    }
}