@use 'variables' as *;

.spinner {
  width: 2.5rem;
  height: 2.5rem;
  border: 3px solid $color-secondary;
  border-top-color: $color-primary;
  border-radius: 50%;
  animation: spinner-rotate 0.8s linear infinite;
}

@keyframes spinner-rotate {
  to {
    transform: rotate(360deg);
  }
}
